<img src="<%= book.imgUrl %>" class="bookImg center" alt="<%= book.name %>">
<h2>
    Price: <%= book.price %>
</h2>
<hr>
<div class='text-center'>
     <h3>
         Description:
     </h3>
     <p>
        <%= book.description %>
     </p>
</div>
<div>
    <a class="button" href='/cart/add/<%= book._id.toString() %>'>Buy Now!</a>
</div>

