<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/header.ejs %>
  </head>

  <body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron minortron text-center">
      <h1>
        <%= title %>
      </h1>
    </div>
    <% if (message != undefined) { %>
      <div class='container tile alert'>
        <p><%= message %></p>
      </div>
    <% } %>
    <% if (cart.length > 0) { %>
      <div class='tile center cart'>
      <% for (let [i, value] of cart.entries()) { %>
          <div class='subtile flex'>
            <div class='left flex-child'>
                <h2>
                    <%= value.productId.name %>
                </h2>
                <i>
                    <%= value.productId.fieldOne %>
                </i>
                <div id='price'>
                  <strong>$<%= value.productId.price %></strong>
                </div>
                <div id='interactions' class='flex'>
                  <div id='qty ' class='flex-child'>
                    <a class="button" href='/cart/decrease/<%= value.productId._id.toString() %>'>-</a>
                    <strong><%= value.cartQty %></strong>
                    <a class="button" href='/cart/increase/<%= value.productId._id.toString() %>'>+</a>
                  </div>
                  <div class='flex-child'>
                    <a class="button" href='/cart/remove/<%= value.productId._id.toString() %>'>Delete</a>
                  </div>
                </div>
            </div>
            <div class='right flex-child'>
                <img src="<%= value.productId.imgUrl %>" class="bookImg center admin" alt="<%= value.productId.name %>">
            </div>
          </div>
      <% } %>
    </div>
    <% } else { %>
      <div class='tile center cart'>
        No Items in cart
      </div>
    <% } %>
    <div class='tile center'>
      <a class="button" href='/cart/checkout'>Checkout</a>
      <a class="button" href='/cart/clearCart'>Clear Cart</a>
    </div>
  </body>
</html>